%div.jumbotron
    %h1 42SV Snail Mail System
    -if user_signed_in?
        %p
            Welcome,
            = current_user.email
        %p
            = link_to "Log out", destroy_user_session_path
    -else
        Please 
        =link_to "log in", user_ft_api_omniauth_authorize_path 

-if user_signed_in?
    %div.container
        %div
            %p
                Please receive mail using this address: 
            %p
                %var
                    #{current_user.first_name} #{current_user.last_name}
                    %br
                    6600 Dumbarton Circle # 
                    %strong #{current_user.virtual_room_print}
                    %br
                    Fremont, CA 94555-3615
                
            %p
                Please ensure a space between the the pound sign and the
                = succeed "." do
                    =link_to "Secondary Address Unit Designator", "https://pe.usps.com/text/pub28/28c2_003.htm"
                Mail without your personalized secondary number could be returned.
