!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FtMail
    = csrf_meta_tags
    = csp_meta_tag
    /= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    /= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    /%main.container{role: "main"}
    = yield
    %footer.footer
      %div.container
        %span.text-muted 42 Silicon Valley - by fjankows 2020